*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("https://s1.1zoom.me/b3753/181/Closeup_Raspberry_Texture_Many_550991_1920x1080.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;

}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid #fff;
	transition: 0.6s
}

ul li a:hover{
	background-color: #fff;
	color: #000;
}

.main{
	max-width: 1200px;
	margin: auto;
}

ul li.active a{
	background-color: #fff;
	color: #000;
}

.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.title h1{
	color: #fff;
	font-size: 70px
}

p.signature{
	font-size: 15px;
	font-style: italic;
	color: #fff;
}

h4{
	color: #fff;
}

h2{
	color: #fff;
}

a{
	color: #fff;
}