p{
	text-align:center;
	color:white;
	font-size:30px;
}



body{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("https://hdfondsdecran.com/image/201609/197/framboise-panier-jardin.jpg");
	color: black;
	padding-left: 200px;
	padding-right: 500px;
	font-size: 20px;
}

table{
	color: white;
}

ul.navigation{
	float: right;
	list-style-type: none;
	margin-top: 25px;

}

ul.navigation li{
	display: inline-block;
}

ul.navigation li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid #fff;
	transition: 0.6s
}

ul.navigation li a:hover{
	background-color: #fff;
	color: #000;
}

.main{
	max-width: 1200px;
	margin: auto;
}

ul.navigation li.active a{
	background-color: #fff;
	color: #000;
}

*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
	color: #fff
}

a{
	color: #000;
}